.inlineInformation {
  margin-right: 20px;
  width: 200px;
  display: inline-block;
}

.costPerUnit {
  width: 300px;
  display: inline-block;
}

.costPerUnitInput {
  width: 50px;
  margin-right: 10px;
}
