@import "../static_files/colors.scss";

button {
  margin: 10px;
  width: 100px; 
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  color: $white;
}

.default {
  background-color: $darkGreyBackground;
}

.default:hover {
  background-color: $lightGreyBackground !important;
}

.alertButton {
  background-color: $redAlert;
}

.alertButton:hover {
  background-color: $redAlertHover;
}

button:active {
  background-color: $darkGreyBackground !important;
}
