@import "../static_files/colors.scss";

.createNewArmySeparator {
  width: 850px;
}

.createNewArmyStatusMessage {
  margin: 10px;
  color: $greenAffirmation;
}

.createNewArmyTotalPoints {
  margin: 10px;
}

.armyName {
  margin: 10px;
}
