 @use "../static_files/colors" as *;

.createNewArmyContainer {
  margin: 10px;
}

.name {
  width: 300px;
  display: inline-block;
}

.listName {
  width: 500px;
  display: inline-block;
}

.costPerUnit {
  width: 200px;
  display: inline-block;
}

.squadSize {
  width: 150px;
  display: inline-block;
}

.statusMessage {
  color: $greenAffirmation;
}
