@use "../static_files/colors" as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #{$headerBackground};
  min-width: 100%;
  max-height: auto;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

ul a {
  text-decoration: none;
  color: $white;
  margin-top: 12px;
  margin-right: 20px;
  height: 15px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

ul a:first-child {
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

ul a:last-child {
  position: absolute;
  right: 0;
}

#headerLogo {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  .headerContainer {
    margin-bottom: 280px;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  ul a:last-child {
    position: static;
  }

  ul a:first-child {
    display: none;
  }
}