@use "../static_files/colors" as *;

header {
  position: sticky;
  background-color: #{$headerBackground};
  min-width: 100%;
  max-height: auto;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: auto;
}

ul a {
  text-decoration: none;
  color: $white;
  padding: 18px;
  padding-top: 28px;
  text-align: center;
  cursor: pointer;
}

ul a:hover {
  background-color: $lightGreyBackground;
}

ul a:first-child {
  margin: 0;
  padding: 0;
  padding-top: 7px;
}

ul a:first-child:hover {
  background-color: inherit;
}

ul a:last-child {
  margin-left: auto;
  margin-right: 0;
}

#headerLogo {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  ul a:hover {
    background-color: inherit;
  }

  ul a:last-child {
    margin: 0;
  }

  ul a:first-child {
    display: none;
  }
}