@use "../static_files/colors.scss";

.inputContainer {
  margin: 8px;
}

.label {
  margin-right: 6px;
  width: 160px;
  display: inline-block;
  text-align: right;
}

.inputField {
  width: 160px;
}

.requiredMessage {
  color: $redAlert;
  margin-left: 6px;
  width: 160px;
  display: inline-block;
  text-align: left;
}
