@use "../static_files/colors" as *;

.loginContainer {
  padding: 24px;
  margin: 24px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: $lightGreyBackground;
  text-align: center;
  max-width: fit-content;
  margin-inline: auto;
}

@media (max-width: 768px) {
  .loginContainer {
    padding: 12px;
  }
}