.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}

#logo {
  width: 100px;
  height: 100px;
}

#title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}