.name {
  min-width: 120px;
  margin-right: 20px;
  display: inline-block;
}

.location {
  display: inline-block;
  width: 300px;
  margin-right: 20px;
}

.roleContainer {
  margin-right: 20px;
}

.role {
  margin-right: 20px;
}
